.container {
    width: 50%;
    margin: auto;
  }

  @media (max-width: 768px) {
    .container {
      width: 95%;
    }
  }
  
  .illustration {
    width: 100%;
  }
  
  .svg-illustration {
    width: 100%;
  }
  
  .content {
    text-align: center;
    padding: 20px 0;
  }
  
  .section-header {
    margin-bottom: 20px;
  }
  
  .title {
    font-size: xxx-large;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: xx-large;
    color: #666;
    margin-bottom: 20px;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
  }
  
  .cta-btn {
      background: RGBA(93, 93, 255);
      border: none;
      color: white;
      font: inherit;
      text-decoration: none;
      cursor: pointer;
      margin-top: 1rem;
      font-weight: bolder;
      font-size: larger;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .cta-btn:hover {
      /* background: rgb(48, 0, 48); */
      background: rgba(70, 70, 200, 1);
      /* color: white; */
  
  }